$topBarHeight: 40px;
$bottomBarHeight: 30px;

.stream-module {
  display: inline-block;
  width: 200px;
  // height: 200px;
  min-height: 200px;
  background-color: $purple;
  border-radius: 5px;
  padding: $topBarHeight 0px 0px;
  margin: 10px;
  position: relative;
}

.top-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $topBarHeight;
  padding: 0 10px;
  background-color: $grey;
  border-radius: 5px 5px 0 0;

  &__link {
    float: left;
    height: 100%;
    line-height: $topBarHeight;

    &:link, &:visited {
      text-decoration: none;
      color: black;
    }
  }

  &__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: right;
    margin: 14px 0 0 0;

    &--online {
      background-color: $green;
    }

    &--offline {
      background-color: $red;
    }
  }
}

.thumbnail {
  width: 100%;
}

.bottom-bar {
  height: $bottomBarHeight;
  color: white;

  &__right {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $purple;
    border-radius: 0 0 5px 0;
  }

  &__left {}
}

.stream-title {
  white-space: nowrap;
  padding: 0 5px;
  overflow: hidden;
  height: $bottomBarHeight;
  line-height: $bottomBarHeight;
}

.viewer-count {
  line-height: $bottomBarHeight;
  padding: 0 5px;

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background: url('../img/ic_person_white.svg') no-repeat 50% 50%;
  }
}
